In [1]:
import numpy as np
import pandas as pd
%matplotlib inline

from sklearn.preprocessing import LabelEncoder

import matplotlib.pyplot as plt
import seaborn as sns

data=pd.read_csv('store.csv')

In [2]:
data.head()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,1012,2010-09-20 11:27:04,2010-09-20 11:43:56,31208,M St & New Jersey Ave SE,31108,4th & M St SW,W00742,Member
1,61,2010-09-20 11:41:22,2010-09-20 11:42:23,31209,1st & N St SE,31209,1st & N St SE,W00032,Member
2,2690,2010-09-20 12:05:37,2010-09-20 12:50:27,31600,5th & K St NW,31100,19th St & Pennsylvania Ave NW,W00993,Member
3,1406,2010-09-20 12:06:05,2010-09-20 12:29:32,31600,5th & K St NW,31602,Park Rd & Holmead Pl NW,W00344,Member
4,1413,2010-09-20 12:10:43,2010-09-20 12:34:17,31100,19th St & Pennsylvania Ave NW,31201,15th & P St NW,W00883,Member

In [4]:
data = data.drop(["Start date","End date","Start station","End station"],axis=1)

In [6]:
data.head()

   Duration  Start station number  End station number Bike number Member type
0      1012                 31208               31108      W00742      Member
1        61                 31209               31209      W00032      Member
2      2690                 31600               31100      W00993      Member
3      1406                 31600               31602      W00344      Member
4      1413                 31100               31201      W00883      Member

In [8]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
lb.fit(data["Bike number"])
data["Bike number"] = lb.transform(data["Bike number"])
data.head()

   Duration  Start station number  End station number  Bike number Member type
0      1012                 31208               31108          614      Member
1        61                 31209               31209           41      Member
2      2690                 31600               31100          836      Member
3      1406                 31600               31602          282      Member
4      1413                 31100               31201          734      Member

In [9]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
lb.fit(data["Member type"])
data["Member type"] = lb.transform(data["Member type"])
data.head()

,Duration,Start station number,End station number,Bike number,Member type
0,1012,31208,31108,614,1
1,61,31209,31209,41,1
2,2690,31600,31100,836,1
3,1406,31600,31602,282,1
4,1413,31100,31201,734,1

In [10]:
data.shape

(115597, 5)

In [20]:
train = np.array(data.iloc[:11000])
test = np.array(data.iloc[11000:])

from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(train[:,0:4],train[:,4])
predict = model.predict(test[:,0:4])

In [21]:
from sklearn.metrics import accuracy_score
accuracy_score(test[:,4],predict)

0.8417163016147691

In [22]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(train[:,0:4],train[:,4])
predict = model.predict(test[:,0:4])

In [23]:
from sklearn.metrics import accuracy_score
accuracy_score(test[:,4],predict)

0.7064447355086666

In [24]:
MAX = 1000
MIN = -1000

def minimax(degree,nodeIdx,maximizer,values,alpha,beta):
	if degree==3:
		return values[nodeIdx]

	if maximizer:
		best = MIN

		for i in range(0,2):
			val = minimax(degree+1,2*nodeIdx+i,False,values,alpha,beta)
			best = max(best,val)
			alpha = max(best,alpha)

			if alpha>=beta:
				break

		return best

	else:
		best = MAX

		for i in range(0,2):
			val = minimax(degree+1,2*nodeIdx+i,True,values,alpha,beta)
			best = min(best,val)
			beta = min(best,beta)

			if alpha>=beta:
				break

		return best


values = [3,5,6,9,1,2,0,-1]
print("best value: ",minimax(0,0,True,values,MIN,MAX))

best value:  5

In [25]:
from nltk.chat.util import Chat, reflections

pairs=[
		[ r"hello(.*)",

			["hello %1",]
		],

		[ r"how are you(.*)",

			["fine",]
		],

		[ r"anything else",

			["nope",]
		],

		[ r"then leave",

			["ok fine",]
		],
	]


def chatbot():
	chat = Chat(pairs,reflections)
	chat.converse()

chatbot()

>hello xyz
hello  xyz
>how are you
fine
>quit
None